<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bid Confirmatioin</h1>
    <p>
      You have successfully made a bid.<br/>
      You bid for product: <%= @bid_confirm.post.title %>.<br/>
      Your bid amount is: <%= @bid_confirm.price %>.<br/>
    </p>
    <p>Thanks for biding and have a great day!</p>
  </body>
</html>