<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bid Notification</h1>
    <p>
      You have successfully received a bid.<br/>
      The bid for product: <%= @bid_notice.post.title %>.<br/>
      The bid amount is: <%= @bid_notice.price %>.<br/>
    </p>
    <p>Thanks for selling and have a great day!</p>
  </body>
</html>