<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Watch Item Notification</h1>

<p>
  The Item you are watching is
  <%= @post.title %>.<br/>
  The Max Bid Price is now
  <%= @post.max_bid %>.<br/>
  The End Time will be
  <%= @post.end_time %>.<br/>
</p>

<p>Thanks for watching and have a great day!</p>
</body>
</html>